<!DOCTYPE html>
<!--[if lt IE 8]> <html lang="en-US" class="ie7 ie" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 8]> <html lang="en-US" class="ie8 ie" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="" xmlns="http://www.w3.org/1999/xhtml" lang="en-US"><!--<![endif]-->

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <!-- META -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="format-detection" content="telephone=no">



  </head>

<body id="body" class="home page page-id-835 page-template page-template-template-slider page-template-template-slider-php regular-header no-touch fixed-width">
<header id="header" class="clearfix" style="height:85px">

  <div class=" clearfix">

    <div class="wrapper clearfix">

      <!-- Logo Start -->

      <a id="logo" href="" style="width:117px;height:19px">
        <img class="default" src="./images/logo.png" alt="Loanstamp Beta">

      </a>

      <nav id="main-menu" class="clearfix right with-p-search" data-nav-text="--- Navigate ---">

        <ul id="menu-main-menu" class="clearfix top-menu">
          <li id="menu-item-1091" class="menu-item"><a href="/">Home</a> </li>
          <li id="menu-item-1095" class="selected parent menu-item"><a href="/aboutus">About Us </a></li>
          <li id="menu-item-1095" class="menu-item"><a href="http://borrower.loanstamp.com/">Borrowers </a></li>
          <li id="menu-item-1089" class="menu-item"><a href="http://lender.loanstamp.com/">Lenders </a></li>
          <li id="menu-item-1095" class="menu-item"><a href="http://loanstamp.info">Blog </a></li>
          <li class="menu-item-1089"><a  href="/contact">Contact Us</a></li>

        </ul>
       </nav>
      </div>
    </div>
</header>

<div class="krown-section clearfix" style="padding: 145px">
<h3 style="text-align: left;">Why Choose Us?</h3>
<div class="krown-column-row clearfix"><div class="krown-column-container clearfix first span3 clearfix">
<p style="text-align: left;"><i class="krown-icon-diamond i-regular b-float" style="color:#55AF57"></i></p>
<h4 style="text-align: left;">Powerful Crowdfunding</h4>
<p style="font-size: 14px; line-height: 22px; text-align: left;">Crowdfund, Pre-Sell or Raise Money For Your Next Project.</p>
</div><div class="krown-column-container clearfix span3 clearfix">
<p style="text-align: left;"><i class="krown-icon-wallet i-regular b-float" style="color:#55AF57"></i></p>
<h4 style="text-align: left;">Pledge Whatever<br>
You Want</h4>
<p style="font-size: 14px; line-height: 22px; text-align: left;">Enable custom donation amounts instead or use the traditional level format.</p>
</div><div class="krown-column-container clearfix span3 clearfix">
<p style="text-align: left;"><i class="krown-icon-truck-1 i-regular b-float" style="color:#55AF57"></i></p>
<h4 style="text-align: left;">Fixed &amp; Flexible Funding</h4>
<p style="font-size: 14px; line-height: 22px; text-align: left;">Take money immediately or after your goal is reached. The choice is yours.</p>
</div><div class="krown-column-container clearfix last span3 clearfix">
<p style="text-align: left;"><i class="krown-icon-tv i-regular b-float" style="color:#55AF57"></i></p>
<h4 style="text-align: left;">Real-Time<br>
Statistics</h4>
<p style="font-size: 14px; line-height: 22px; text-align: left;">Gorgeous front and backend displays to track payments and supporters.</p>
</div></div>

  <!-- Main Wrapper End -->
</div>

  <!-- Footer #1 Wrapper Start -->


	<footer id="footer1" class="footer clearfix">

		<div class="krown-column-row wrapper clearfix">


				<div class="krown-column-container span3">
					<section id="nav_menu-2" class="widget widget_nav_menu clearfix"><h4 class="widget-title">Campaign</h4><div class="menu-footer-menu-2-container"><ul id="menu-footer-menu-2" class="menu"><li id="menu-item-1081" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1081"><a href="http://backer-demo.krownthemes.com/#">Start Your Campaign</a></li>
<li id="menu-item-1079" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1079"><a href="http://backer-demo.krownthemes.com/#">Pricing Campaign</a></li>
<li id="menu-item-1080" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1080"><a href="http://backer-demo.krownthemes.com/#">Campaign Support</a></li>
</ul></div></section><section id="nav_menu-3" class="widget widget_nav_menu clearfix"><h4 class="widget-title">About Us</h4><div class="menu-footer-menu-1-container"><ul id="menu-footer-menu-1" class="menu"><li id="menu-item-1090" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1090"><a href="http://backer-demo.krownthemes.com/blog/">Blog</a></li>
<li id="menu-item-1097" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1097"><a href="http://backer-demo.krownthemes.com/about-us/">About Us</a></li>
<li id="menu-item-1096" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1096"><a href="http://backer-demo.krownthemes.com/contact/">Contact</a></li>
</ul></div></section>				</div>

				<div class="krown-column-container span3 clearfix">
					<section id="email-widget-4" class="widget categories clearfix"><h4 class="widget-title">Browse</h4><ul class="categories">	<li class="cat-item cat-item-28"><a href="http://backer-demo.krownthemes.com/project-category/art/?post_type=ignition_product" title="View all posts filed under Art">Art</a>
</li>
	<li class="cat-item cat-item-29"><a href="http://backer-demo.krownthemes.com/project-category/comics/?post_type=ignition_product" title="View all posts filed under Comics">Comics</a>
</li>
	<li class="cat-item cat-item-30"><a href="http://backer-demo.krownthemes.com/project-category/crafts/?post_type=ignition_product" title="View all posts filed under Crafts">Crafts</a>
</li>
	<li class="cat-item cat-item-31"><a href="http://backer-demo.krownthemes.com/project-category/dance/?post_type=ignition_product" title="View all posts filed under Dance">Dance</a>
</li>
	<li class="cat-item cat-item-32"><a href="http://backer-demo.krownthemes.com/project-category/fashion/?post_type=ignition_product" title="View all posts filed under Fashion">Fashion</a>
</li>
	<li class="cat-item cat-item-33"><a href="http://backer-demo.krownthemes.com/project-category/film-video/?post_type=ignition_product" title="View all posts filed under Film &amp; Video">Film &amp; Video</a>
</li>
	<li class="cat-item cat-item-34"><a href="http://backer-demo.krownthemes.com/project-category/food/?post_type=ignition_product" title="View all posts filed under Food">Food</a>
</li>
	<li class="cat-item cat-item-35"><a href="http://backer-demo.krownthemes.com/project-category/games/?post_type=ignition_product" title="View all posts filed under Games">Games</a>
</li>
	<li class="cat-item cat-item-36"><a href="http://backer-demo.krownthemes.com/project-category/journalism/?post_type=ignition_product" title="View all posts filed under Journalism">Journalism</a>
</li>
	<li class="cat-item cat-item-37"><a href="http://backer-demo.krownthemes.com/project-category/music/?post_type=ignition_product" title="View all posts filed under Music">Music</a>
</li>
</ul></section>				</div>

				<div class="krown-column-container span3 clearfix">
					<section id="nav_menu-4" class="widget widget_nav_menu clearfix"><h4 class="widget-title">Help</h4><div class="menu-footer-menu-3-container"><ul id="menu-footer-menu-3" class="menu"><li id="menu-item-1082" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1082"><a href="http://backer-demo.krownthemes.com/#">FAQ</a></li>
<li id="menu-item-1083" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1083"><a href="http://backer-demo.krownthemes.com/#">Our Rules</a></li>
<li id="menu-item-1084" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1084"><a href="http://backer-demo.krownthemes.com/#">Support</a></li>
<li id="menu-item-1085" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1085"><a href="http://backer-demo.krownthemes.com/#">Terms of Use</a></li>
<li id="menu-item-1086" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1086"><a href="http://backer-demo.krownthemes.com/#">Privacy Policy</a></li>
</ul></div></section>				</div>

				<div class="krown-column-container span3">
					<section id="text-10" class="widget widget_text clearfix"><h4 class="widget-title">Newsletter</h4>			<div class="textwidget"><form class="widget_wysija" id="form-wysija-2">
<p class="wysija-paragraph">
<input type="text" value="" placeholder="enter your email" title="enter your email" class="wysija-input">
</p>
<input type="submit" value=">" class="wysija-submit wysija-submit-field">
 </form></div>
		</section>				</div>


		</div>

    </footer>


	<!-- Footer #1 Wrapper End -->

	<!-- Footer #2 Wrapper Start -->

	<footer id="footer2" class="footer clearfix">

		<div class="wrapper clearfix">

			<div class="left clearfix">
				<div id="text-11" class="widget left widget_text">			<div class="textwidget">© 2014 “Loanstamp” Rights Reserved. Created by Penny Partners Team.</div>
		</div>			</div>

		</div>

    </footer>
	<!-- Footer End -->

</body>
</html>
