<!DOCTYPE html>
<!--[if lt IE 8]> <html lang="en-US" class="ie7 ie" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 8]> <html lang="en-US" class="ie8 ie" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="" xmlns="http://www.w3.org/1999/xhtml" lang="en-US"><!--<![endif]-->

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <!-- META -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="format-detection" content="telephone=no">



  </head>

<body id="body" class="home page page-id-835 page-template page-template-template-slider page-template-template-slider-php regular-header no-touch fixed-width">
<header id="header" class="clearfix" style="height:85px">

  <div class=" clearfix">

    <div class="wrapper clearfix">

      <!-- Logo Start -->

      <a id="logo" href="" style="width:117px;height:19px">
        <img class="default" src="./images/logo.png" alt="Loanstamp Beta">

      </a>

      <nav id="main-menu" class="clearfix right with-p-search" data-nav-text="--- Navigate ---">

        <ul id="menu-main-menu" class="clearfix top-menu"><li id="menu-item-1091" class="selected parent menu-item"><a href="http://backer-demo.krownthemes.com/home-2/">Home</a>
            <div style="width: 200px; display: none; height: 172px; padding-top: 37px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;" class="sub-menu-holder"><ul class="sub-menu">

              </ul>
            </div>
          </li>
          <li id="menu-item-1095" class="menu-item"><a href="http://checkmyareadevelopment.com/loanstamp/inside/user_reg.php?utype=borrower">Borrowers </a></li>
          <li id="menu-item-1089" class="menu-item"><a href="http://checkmyareadevelopment.com/loanstamp/inside/user_reg.php?utype=lender">Lender Profile </a></li>

          <li class="green"><a  href="http://checkmyareadevelopment.com/loanstamp/inside/login.php">Sign In</a></li>

        </ul>
       </nav>
      </div>
    </div>
</header>

<div id="content" class="layout-fixed-width">

  <div id="custom-header" class="header-below" style="height:460px;">
    <div class="cta" style="width:50%">
      <div class="cta-back" style="background-image:url(http://krownthemes.com/wp-content/uploads/sites/10/2014/08/b0.jpg)"></div>
      <div class="cta-holder">
        <h2>Borrowers </h2>
        <div class="cta-link">
          <a class="krown-button custom" href="http://checkmyareadevelopment.com/loanstamp/inside/user_reg.php?utype=borrower" target="_self">Sign Up</a>
        </div>
      </div>
    </div>
    <div class="cta" style="width:50%">
      <div class="cta-back" style="background-image:url(http://krownthemes.com/wp-content/uploads/sites/10/2014/08/b1.jpg)"></div>
      <div class="cta-holder">
        <h2>Lender</h2>
        <div class="cta-link">
          <a class="krown-button custom" href="http://checkmyareadevelopment.com/loanstamp/inside/user_reg.php?utype=lender" target="_self">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="clearfix wrapper">
  </div>-->

  <!-- Main Wrapper End -->
</div>
</body>
</html>
